<section class="section clients">
    <div class="container">
        <h2 class="section__title clients">
            Среди наших клиентов
        </h2>

        <div class="swiper clients__swiper">
            <div class="clients__container swiper-wrapper">
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/1.png" alt="логотип Управление делами Президента Российской Федерации" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/2.png" alt="логотип Моковский Еврейский Общинный Центр" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/3.png" alt="логотип отели Азимут" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/4.png" alt="логотип БМВ" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/5.png" alt="логотип Шелл" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/6.png" alt="логотип Митсубиси" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/7.png" alt="логотип группа гомпаний Новиков" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/8.png" alt="логотип Вог кафе" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/9.png" alt="логотип ресторан и бар Вайт Раббит" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="clients__img" src="images/clients/10.png" alt="логотип Ворлд Класс" loading="lazy">
                </div>
            </div>
            <div class="clients__swiper-navigation swiper-navigation">
                <div class="clients__swiper-button-next swiper-button-next"></div>
                <div class="clients__swiper-button-prev swiper-button-prev"></div>
            </div>
            <div class="clients__swiper-pagination swiper-pagination"></div>
        </div>

    </div>
</section>