<section class="section completed" id="proekty">
    <div class="container">
        <h2 class="section__title">
            Выполненные <span class="section__title-strong">объекты</span>
        </h2>

        <p class="section__description">
            За 25+ лет работы мы выполнили работы на более чем <b>6 000+ объектах</b>, вот некоторые из них:
        </p>
        <div class="completed__container">
            <div class="completed__card">
                <picture>
                    <source src="images/completed/1-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/1-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/1-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/1-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/2-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/2-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/2-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/2-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/3-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/3-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/3-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/3-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/4-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/4-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/4-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/4-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/5-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/5-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/5-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/5-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/6-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/6-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/6-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/6-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/7-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/7-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/7-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/7-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/8-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/8-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/8-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/8-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
            <div class="completed__card">
                <picture>
                    <source src="images/completed/9-1.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/9-1.jpg" alt="Вентиляционная труба до очистки" loading="lazy">
                </picture>
                <picture>
                    <source src="images/completed/9-2.webp" type="image/webp">
                    <img class="completed__card-img" src="images/completed/9-2.jpg" alt="Вентиляционная труба после очистки" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>