<section class="section contacts" id="contact">
    <div class="container">
        <div class="contacts__subcontainer">
            <h2 class="section__title">
                Контакты
            </h2>

            <p class="contacts__address">
                г. Москва, 2-й Хорошёвский проезд, д. 7, к. 1
            </p>

            <div class="header__callback callback">
                <div class="callback__img-wrap">
                    <svg class="callback__img">
                        <use xlink:href="./images/sprite.svg#phone"></use>
                    </svg>
                </div>
                <div class="callback__text">
                    <a class="callback__link" href="tel:+74952563822">8 495 256 38 22</a>
                    <button class="callback__button application">Заказать обратный звонок</button>
                </div>
            </div>
        </div>

<!--        <div class="contacts__map">-->
<!--            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aafad6cec84b7119072fd86f7373004b563517004273c18fa753c776fd0c4d7e6&amp;source=constructor" frameborder="0" width="100%" height="100%"></iframe>-->
            <div class="contacts__map">
                <iframe loading="lazy" class="contacts__maps" src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=37.534407%2C55.779155&mode=usermaps&source=mapframe&um=constructor%3Aafad6cec84b7119072fd86f7373004b563517004273c18fa753c776fd0c4d7e6&utm_source=mapframe&z=14"></iframe>
            </div>
<!--        </div>-->

    </div>

</section>