<section class="section contacts">
    <div class="container">
        <div class="contacts__subcontainer">
            <h2 class="section__title">
                Контакты
            </h2>

            <p class="contacts__address">
                г. Москва, ул. Примерная 100А, офис 100
            </p>

            <div class="header__callback callback">
                <div class="callback__img-wrap">
                    <svg class="callback__img">
                        <use xlink:href="./images/sprite.svg#phone"></use>
                    </svg>
                </div>
                <div class="callback__text">
                    <a class="callback__link" href="tel:88001234567">8 800 123 45 67</a>
                    <button class="callback__button">Заказать обратный звонок</button>
                </div>
            </div>
        </div>

        <div class="contacts__map"></div>
    </div>


</section>