<header class="header">
    <div class="container">
        <div class="logo-container">
            <svg class="logo">
                <use xlink:href="./images/sprite.svg#logo"></use>
            </svg>
            <p class="header__description">Очистка и дезинфекция систем вентиляции и кондиционирования в Москве и МО</p>
        </div>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">Услуги</li>
                <li class="nav__item">Наши проекты</li>
                <li class="nav__item">О нас</li>
                <li class="nav__item">Контакты</li>
            </ul>
        </nav>

        <div class="header__callback callback">
            <div class="callback__img-wrap">
                <svg class="callback__img">
                    <use xlink:href="./images/sprite.svg#phone"></use>
                </svg>
            </div>
            <div class="callback__text">
                <a class="callback__link" href="tel:88001234567">8 800 123 45 67</a>
                <p class="callback__descr">Круглосуточно и без выходных</p>
                <button class="callback__button">Заказать обратный звонок</button>
            </div>
        </div>
    </div>

</header>