<header class="header">
    <div class="container">
        <div class="logo-container">
            <svg class="logo">
                <use xlink:href="./images/sprite.svg#logo"></use>
            </svg>
            <p class="header__description">Очистка и дезинфекция систем вентиляции и кондиционирования в Москве и МО</p>
        </div>

        @@include('../_components/_nav.html')

        <div class="header__callback callback">
            <div class="callback__img-wrap">
                <svg class="callback__img">
                    <use xlink:href="./images/sprite.svg#phone"></use>
                </svg>
            </div>
            <div class="callback__text">
                <a class="callback__link" href="tel:+74952563822">8 495 256 38 22</a>
                <p class="callback__descr">Круглосуточно и без выходных</p>
                <button class="callback__button application">Заказать обратный звонок</button>
            </div>
        </div>
    </div>

</header>