<section class="section licenses container">
    <h2 class="section__title licenses">
        Имеем все необходимые лицензии
    </h2>

    <div class="licenses__container">
        <figure class="licenses__figure">
            <picture>
                <source srcset="images/licenses/1.webp" type="image/webp">
                <img class="licenses__img" src="images/licenses/1.jpg" alt="СРО" loading="lazy">
            </picture>

            <figcaption>СРО</figcaption>
        </figure>
        <figure class="licenses__figure">
            <picture>
                <source srcset="images/licenses/2.webp" type="image/webp">
                <img class="licenses__img" src="images/licenses/2.jpg" alt="Лицензия МЧС" loading="lazy">
            </picture>
            <figcaption>Лицензия МЧС</figcaption>
        </figure>
        <figure class="licenses__figure">
            <picture>
                <source srcset="images/licenses/3.webp" type="image/webp">
                <img class="licenses__img" src="images/licenses/3.jpg" alt="Сертификат ISO 2001" loading="lazy">
            </picture>

            <figcaption>Сертификат ISO 2001</figcaption>
        </figure>
    </div>
</section>