<section class="section licenses container">
    <h2 class="section__title licenses">
        Имеем все необходимые лицензии
    </h2>

    <div class="licenses__container">
        <figure class="licenses__figure">
            <img class="licenses__img" src="images/licenses/1.png" alt="СРО" loading="lazy">
            <figcaption>СРО</figcaption>
        </figure>
        <figure class="licenses__figure">
            <img class="licenses__img" src="images/licenses/2.png" alt="Лицензия МЧС" loading="lazy">
            <figcaption>Лицензия МЧС</figcaption>
        </figure>
        <figure class="licenses__figure">
            <img class="licenses__img" src="images/licenses/3.png" alt="Сертификат ISO 2001" loading="lazy">
            <figcaption>Сертификат ISO 2001</figcaption>
        </figure>
    </div>
</section>