<section class="section package-docs negative">
    <div class="container">
        <div class="package-docs__container">
            <h2 class="section__title">
                По выполнению работы предоставляем
                <span class="section__title-strong">полный пакет документов</span>
                для надзорных органов
            </h2>
            <ul class="package-docs__list">
                <li class="package-docs__item">Акт санитарно-эпидемиологического обследования систем вентиляции (кондиционирования) воздуха объекта</li>
                <li class="package-docs__item">Сертификат на дезинфицирующее средство</li>
                <li class="package-docs__item">Протоколы лабораторных анализов смывов из систем вентиляции и кондиционирования воздуха на объекте</li>
                <li class="package-docs__item">Журнал учета работ по проведению очистки и дезинфекции систем вентиляции и кондиционирования воздуха на объекте</li>
            </ul>
        </div>
        <div class="package-docs__img"></div>
    </div>
</section>