<section class="section quality negative" id="quality">
    <div class="container">
        <h2 class="section__title spica">
            ВЕНТКЛИН — Гарантия качества,
            проверенная годами
        </h2>

        <div class="quality__container">
            <div class="quality__card">
                <div class="quality__card-image quality__card-image_1"></div>
                <div class="quality__card-text">
                    <h3 class="quality__card-title">Комплексный подход</h3>
                    <p class="quality__card-description">
                        Мы предлагаем комплексные решения для очистки и дезинфекции систем вентиляции и кондиционирования. Команда специалистов проводит не только механическую чистку, но и <span class="quality__card-description_strong">применяет эффективные методы дезинфекции</span>, чтобы обеспечить максимальную чистоту и безопасность воздуха в помещениях.
                    </p>
                </div>
            </div>
            <div class="quality__card">
                <div class="quality__card-image quality__card-image_2"></div>
                <div class="quality__card-text">
                    <h3 class="quality__card-title">Высококвали&shy;фи&shy;ци&shy;ро&shy;ван&shy;ные специалисты</h3>
                    <p class="quality__card-description">
                        Мы гордимся тем, что наши специалисты обладают самым передовым и высокотехнологичным оборудованием, которое полностью принадлежит нам. Мы не скупимся на инструменты и транспорт, чтобы обеспечить нашей команде <span class="quality__card-description_strong">все необходимое для выполнения задач по очистке и дезинфекции вентиляционных систем.</span>
                    </p>

                </div>
            </div>
            <div class="quality__card">
                <div class="quality__card-image quality__card-image_3"></div>
                <div class="quality__card-text">
                    <h3 class="quality__card-title">Сертифицированные реагенты</h3>
                    <p class="quality__card-description">
                        Особое внимание уделяется выбору сертифицированных реагентов, которые мы используем. Мы тщательно подбираем реагенты, учитывая особенности вашей вентиляционной системы, чтобы гарантировать их безопасность и отсутствие негативного влияния на саму систему и здоровье окружающих.
                    </p>
                    <p class="quality__card-description">
                        <span class="quality__card-description_strong">Наша цель - не только обеспечить чистоту и гигиену воздуха, но и обеспечить безопасность всех пользователей системы.</span>
                    </p>
                </div>
            </div>
            <div class="quality__card">
                <div class="quality__card-image quality__card-image_4"></div>
                <div class="quality__card-text">
                    <h3 class="quality__card-title">Оценка стоимости
                        работ</h3>
                    <p class="quality__card-description">
                        Мы подходим к оценке стоимости работ с особым вниманием к деталям. Каждый объект требует индивидуального подхода, и поэтому мы отправляем на него специалиста, который учитывает различные факторы, включая тип установок, их количество, архитектурные особенности и необходимость специализированного оборудования и реагентов.
                    </p>
                    <p class="quality__card-description">
                        <span class="quality__card-description_strong">Наша цель - предложить максимально эффективные решения, соблюдая разумные денежные затраты.</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>