<section class="section reviews">
    <div class="container">
        <h2 class="section__title">
            Отзывы клиентов
        </h2>

        <div class="swiper reviews__swiper">
            <div class="reviews__container swiper-wrapper">
                <div class="reviews__card swiper-slide">
                    <div class="reviews__card-avatar reviews__card-avatar_1"></div>
                    <h3 class="reviews__card-title">Валунов Евгений</h3>
                    <p class="reviews__card-descr">Заместитель директора школы</p>
                    <p class="reviews__card-description">Очень довольны услугами компании “ВентКлин”. Мы являемся школой с большим количеством учеников, и сохранение здоровья и безопасности наших учащихся - наш главный приоритет.</p>
                    <p class="reviews__card-description">Команда специалистов проявила высокую компетентность и профессионализм при выполнении работ. Они были тщательными, внимательными к деталям и оставили нашу систему вентиляции и кондиционирования в отличном состоянии.</p>
                    <p class="reviews__card-description">Теперь мы чувствуем, что наши ученики дышат чистым и свежим воздухом, что является важным фактором для их здоровья. Мы определенно рекомендуем эту компанию всем, кто ищет профессиональные услуги по очистке и дезинфекции систем вентиляции.</p>
                </div>
                <div class="reviews__card swiper-slide">
                    <div class="reviews__card-avatar reviews__card-avatar_2"></div>
                    <h3 class="reviews__card-title">Евгения Солнцева</h3>
                    <p class="reviews__card-descr">Администратор кафе</p>
                    <p class="reviews__card-description">Кафе, в котором мы работаем, всегда стремится предоставить своим клиентам лучший сервис и комфортную обстановку. Мы регулярно проводим очистку и дезинфекцию нашей системы вентиляции и кондиционирования, и недавно наняли компанию для выполнения этих работ.</p>
                    <p class="reviews__card-description">Мы остались впечатлены их профессионализмом и результатом их работы. Воздух в нашем кафе стал гораздо свежее, а клиенты заметили улучшение в качестве воздуха, что очень важно в нашей индустрии</p>
                    <p class="reviews__card-description">Рекомендуем эту компанию всем кафе и ресторанам, которые хотят обеспечить безопасную и здоровую среду для своих посетителей.</p>
                </div>
                <div class="reviews__card swiper-slide">
                    <div class="reviews__card-avatar reviews__card-avatar_3"></div>
                    <h3 class="reviews__card-title">Николай Степнов</h3>
                    <p class="reviews__card-descr">Администратор бизнес-центра</p>
                    <p class="reviews__card-description">Мы являемся владельцами небольшого бизнес-центра, и безопасность и комфорт наших арендаторов - наша главная цель. Поэтому мы регулярно обращаемся к компаниям, предоставляющем услуги по очистке и дезинфекции систем вентиляции и кондиционирования.</p>
                    <p class="reviews__card-description">“ВентКлин” продемонстрировали профессионализм, надежность и тщательность при выполнении работ. Мы оценили их способность работать в удобное для нас время, чтобы минимизировать прерывания в работе нашего бизнеса.</p>
                    <p class="reviews__card-description">В результате, наш бизнес-центр теперь обеспечивает чистый и свежий воздух, что делает рабочую среду более комфортной и здоровой для всех наших арендаторов. Мы очень благодарны за их профессиональные услуги и рекомендуем эту компанию всем, кто ищет надежного партнера для очистки и дезинфекции систем вентиляции.</p>
                </div>
                <div class="reviews__card swiper-slide">
                    <div class="reviews__card-avatar reviews__card-avatar_4"></div>
                    <h3 class="reviews__card-title">Наталья Григорьева</h3>
                    <p class="reviews__card-descr">Администратор гостиницы</p>
                    <p class="reviews__card-description">Мы - гостиница высокого класса и всегда стремимся предложить нашим гостям первоклассное обслуживание и комфортное пребывание. Очистка и дезинфекция систем вентиляции и кондиционирования играют важную роль в поддержании высоких стандартов гигиены. Мы сотрудничаем с “ВентКлин” на протяжегии 5 лет.</p>
                    <p class="reviews__card-description">Команда специалистов всегда проявляет высокий уровень профессионализма и заботы о деталях. Они тщательно провели очистку и дезинфекцию нашей системы, удалив все загрязнения и бактерии. Результаты были заметны сразу же - воздух в номерах стал свежим и чистым. Это важно для наших гостей, которые ожидают исключительного сервиса.</p>
                    <p class="reviews__card-description">Рекомендуем эту компанию всем гостиницам и санаториям, которые хотят обеспечить безопасное и комфортное проживание для своих гостей. Спасибо за ваше профессионализм и отличную работу!</p>
                </div>
            </div>
            <div class="reviews__swiper-navigation swiper-navigation">
                <div class="reviews__swiper-button-next swiper-button-next"></div>
                <div class="reviews__swiper-button-prev swiper-button-prev"></div>
            </div>
            <div class="reviews__swiper-pagination swiper-pagination"></div>
        </div>

    </div>
</section>