<section class="section stages negative">
    <div class="container">
        <h2 class="section__title">
            Этапы работы
        </h2>

        <div class="swiper stages__swiper">
            <div class="stages__container swiper-wrapper">
                <div class="stages__card swiper-slide stages__card_1">
                    <div class="stages__card-img stages__card-img_1"></div>
                    <p class="stages__card-descr">Вы <b>оставляете заявку</b> на сайте или связываетесь с нами</p>
                    <button class="work-with__card-btn primary-btn stages__card-btn application">
                        Оставить заявку
                    </button>
                </div>
                <div class="stages__card swiper-slide stages__card_2">
                    <div class="stages__card-img stages__card-img_2"></div>
                    <p class="stages__card-descr">Мы связываемся, даем подробную консультацию и <b>выполняем расчет стоимости</b></p>
                    <button class="work-with__card-btn primary-btn work-with__card-btn_none stages__card-btn application">
                        Оставить заявку
                    </button>
                </div>
                <div class="stages__card swiper-slide stages__card_3">
                    <div class="stages__card-img stages__card-img_3"></div>
                    <p class="stages__card-descr">На следующий день мы <b>приступаем к работе</b></p>
                    <button class="work-with__card-btn primary-btn work-with__card-btn_none stages__card-btn application">
                        Оставить заявку
                    </button>
                </div>
                <div class="stages__card swiper-slide stages__card_4">
                    <div class="stages__card-img stages__card-img_4"></div>
                    <p class="stages__card-descr">В конце работ подготавливаем <b>полный пакет</b> документов для надзорных органов</p>
                    <button class="work-with__card-btn primary-btn work-with__card-btn_none stages__card-btn application">
                        Оставить заявку
                    </button>
                </div>
            </div>
            <div class="stages__swiper-navigation swiper-navigation">
                <div class="stages__swiper-button-next swiper-button-next"></div>
                <div class="stages__swiper-button-prev swiper-button-prev"></div>
            </div>
            <div class="stages__swiper-pagination swiper-pagination"></div>
        </div>

        <div class="stages__call">
            <a class="stages__call-link" href="tel:+74952563822">8 495 256 38 22</a>
            <p class="stages__call-description">
                На связи ежедневно с 10.00 до 18.00
            </p>
        </div>
    </div>


</section>