<section class="section stages negative">
    <div class="container">
        <h2 class="section__title">
            Этапы работы
        </h2>

        <div class="stages__container">
            <div class="stages__card">
                <div class="stages__card-img stages__card-img_1"></div>
                <p>Вы <b>оставляете заявку</b> на сайте или связываетесь с нами</p>
            <button class="work-with__card-btn primary-btn">
                Оставить заявку
            </button>
            </div>
            <div class="stages__card">
                <div class="stages__card-img stages__card-img_2"></div>
                <p>Мы связываемся, даем подробную консультацию и <b>выполняем расчет стоимости</b></p>
            </div>
            <div class="stages__card">
                <div class="stages__card-img stages__card-img_3"></div>
                <p>На следующий день мы <b>приступаем к работе</b></p>
            </div>
            <div class="stages__card">
                <div class="stages__card-img stages__card-img_4"></div>
                <p>В конце работ подготавливаем <b>полный пакет</b> документов для надзорных органов</p>
            </div>
        </div>
        <div class="stages__call">
            <a class="stages__call-link" href="tel:88001234567">8 800 123 45 67</a>
            <p class="stages__call-description">
                На связи ежедневно с 10.00 до 18.00
            </p>
        </div>
    </div>


</section>