
<section class="section why container">
    <h2 class="section__title">
        Для чего необходимо выполнять дезинфекцию систем вентиляции и кондиционирования?
    </h2>

    <div class="swiper why__swiper">
        <div class="why__container swiper-wrapper">
            <div class="why__card swiper-slide">
                <div class="why__card-image"></div>
                <div class="why__card-text">
                    <h3 class="why__card-title">Предотвращение заболеваний и аллергий</h3>
                    <p class="why__card-description">
                        Забота о чистоте и безопасности вентиляционных каналов играет важную роль в предотвращении различных заболеваний и аллергических реакций. Если вентиляционные каналы не подвергаются обеззараживанию, они могут стать идеальным убежищем для развития грибка и плесени, а также служить рассадником опасных микроорганизмов.
                    </p>
                    <p class="why__card-description">
                        Это в свою очередь может привести к возникновению астмы, аллергий и других заболеваний. В худшем случае, неправильно обработанные вентиляционные системы могут способствовать распространению массовых инфекций.
                    </p>
                </div>
            </div>
            <div class="why__card swiper-slide">
                <div class="why__card-image"></div>
                <div class="why__card-text">
                    <h3 class="why__card-title">Предотвращение пожарной опасности </h3>
                    <p class="why__card-description">
                        Очистка вентиляционных систем всегда сопровождается процедурой дезинфекции.
                    </p>
                    <p class="why__card-description">
                        Если не производить очистку, воздуховоды могут быть загрязнены жиром, пылью, пухом и другими горючими отложениями, которые могут стать источником быстрого распространения огня на все уровни и помещения.
                    </p>
                </div>
            </div>
            <div class="why__card swiper-slide">
                <div class="why__card-image"></div>
                <div class="why__card-text">
                    <h3 class="why__card-title">Поддержание комфортного микроклимата в помещениях</h3>
                    <p class="why__card-description">
                        В случае пренебрежения регулярной обработкой системы, наблюдается накопление пыли, возникновение неприятных запахов и загрязнение воздуха, что приводит к затрудненному дыханию у людей и необходимости более частой уборки помещений.
                    </p>
                </div>
            </div>
            <div class="why__card swiper-slide">
                <div class="why__card-image"></div>
                <div class="why__card-text">
                    <h3 class="why__card-title">Предотвращение распространения инфекции</h3>
                    <p class="why__card-description">
                        Нарушение требований пожарной безопасности, за исключением случаев, предусмотренных статьями 8.32 и 11.16 настоящего Кодекса и частями 6, 6.1 и 7  влечет предупреждение или наложение административного штрафа на юридических лиц - от <b>трехсот тысяч до четырехсот тысяч рублей</b>.
                    </p>
                    <p class="why__card-description">
                        (в ред. Федерального закона от 28.05.2022 N 141-ФЗ)
                    </p>
                </div>
            </div>
            <div class="why__card swiper-slide">
                <div class="why__card-image"></div>
                <div class="why__card-text">
                    <h3 class="why__card-title">Предотвращение заболеваний и аллергий</h3>
                    <p class="why__card-description">
                        Забота о чистоте и безопасности вентиляционных каналов играет важную роль в предотвращении различных заболеваний и аллергических реакций. Если вентиляционные каналы не подвергаются обеззараживанию, они могут стать идеальным убежищем для развития грибка и плесени, а также служить рассадником опасных микроорганизмов. Это в свою очередь может привести к возникновению астмы, аллергий и других заболеваний. В худшем случае, неправильно обработанные вентиляционные системы могут способствовать распространению массовых инфекций.
                    </p>
                </div>
            </div>
        </div>
        <div class="why__swiper-navigation swiper-navigation">
            <div class="why__swiper-button-next swiper-button-next"></div>
            <div class="why__swiper-button-prev swiper-button-prev"></div>
        </div>
        <div class="why__swiper-pagination swiper-pagination"></div>
    </div>

    @@include('../_components/_form.html')
</section>