<section class="section work-with container">
    <h2 class="section__title">
        Работаем с объектами <span class="section__title-strong">любой</span> сложности
    </h2>

    <p class="section__description">
        Работаем с юридическими лицами. Официально по договору. Выдаем полный пакет документов.
    </p>

    <div class="swiper work-with__swiper">
        <div class="work-with__container swiper-wrapper">
            <div class="work-with__card swiper-slide">
                <div class="work-with__card-image"></div>
                <div class="work-with__card-text">
                    <h3 class="work-with__card-title">Образовательные учреждения</h3>
                    <p class="work-with__card-description">Детские сады, школы, Вузы</p>
                    <button class="work-with__card-btn primary-btn">Рассчитать стоимость</button>
                </div>

            </div>
            <div class="work-with__card swiper-slide">
                <div class="work-with__card-image"></div>
                <div class="work-with__card-text">
                    <h3 class="work-with__card-title">Предприятия общественного питания</h3>
                    <p class="work-with__card-description">Столовые, кафе, бары, рестораны</p>
                    <button class="work-with__card-btn primary-btn">Рассчитать стоимость</button>
                </div>

            </div>
            <div class="work-with__card swiper-slide">
                <div class="work-with__card-image"></div>
                <div class="work-with__card-text">
                    <h3 class="work-with__card-title">Здания и центры</h3>
                    <p class="work-with__card-description">Жилые здания, торговые и бизнес центры, офисные помещения</p>
                    <button class="work-with__card-btn primary-btn">Рассчитать стоимость</button>
                </div>

            </div>
            <div class="work-with__card swiper-slide">
                <div class="work-with__card-image"></div>
                <div class="work-with__card-text">
                    <h3 class="work-with__card-title">Медицинские учреждения</h3>
                    <p class="work-with__card-description">Медицинские центры, клиники, больницы, санатории</p>
                    <button class="work-with__card-btn primary-btn">Рассчитать стоимость</button>
                </div>

            </div>
            <div class="work-with__card swiper-slide">
                <div class="work-with__card-image"></div>
                <div class="work-with__card-text">
                    <h3 class="work-with__card-title">Бьюти-сфера</h3>
                    <p class="work-with__card-description">Салоны красоты, солярии, бассейны, SPA-комплексы</p>
                    <button class="work-with__card-btn primary-btn">Рассчитать стоимость</button>
                </div>

            </div>
            <div class="work-with__card swiper-slide">
                <div class="work-with__card-image"></div>
                <div class="work-with__card-text">
                    <h3 class="work-with__card-title">Промышленные объекты</h3>
                    <p class="work-with__card-description">Склады, хранилища, заводы, фабрики</p>
                    <button class="work-with__card-btn primary-btn">Рассчитать стоимость</button>
                </div>
            </div>
        </div>

        <div class="work-with__swiper-navigation swiper-navigation">
            <div class="work-with__swiper-button-next swiper-button-next"></div>
            <div class="work-with__swiper-button-prev swiper-button-prev"></div>
        </div>
        <div class="work-with__swiper-pagination swiper-pagination"></div>
    </div>
</section>